<!-- Nav Bar Start -->
<div id="nav" class="navbar navbar-expand-lg bg-dark navbar-dark">
    <div class="container-fluid">
        <a href="" class="navbar-brand"><img src="../../../../assets/images/sadar-logo.png" alt="logo"></a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
            <div class="navbar-nav ml-auto">
                <a href="" class="nav-item nav-link">Home</a>
                <a href="./Blog/" class="nav-item nav-link">Blogs</a>
                <a href="./Programs/" class="nav-item nav-link">Programs</a>
                <a href="./JoinUs/" class="nav-item nav-link">Join us</a>
                <a href="./AboutUs/" class="nav-item nav-link">About</a>
            </div>
        </div>
    </div>
</div>
<!-- Nav Bar End -->

<div style="height: 150vh; background-color: red;">
    afd
</div>
<!-- 
    $(window).scroll(function () {
  if ($(this).scrollTop() > 0 && $(window).width() > 992) {
    $(".navbar").addClass("nav-sticky");
  } else if ($(window).width() < 992) {
    $(".navbar").addClass("nav-sticky");
  } else $(".navbar").removeClass("nav-sticky");
});
 -->