.site-footer {
  background: #5dc9b7;
  padding: 50px 0 0 0;
  color: #fff;
  // margin-top: 50px;
}

.footer-title {
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 18px;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

ul {
  margin-top: 0;
  margin-bottom: 1rem;
}

.footer-content ul {
  list-style: none;
}

.footer-content ul li {
  list-style: none;
  padding: 5px 0;
}

.footer-content ul li a,
.contact-info a {
  color: #fff;
}

a:hover {
  text-decoration: none;
}

.copyrightText {
  width: 100%;
  box-sizing: border-box;
  background-color: rgb(24, 24, 24);
  padding: 8px 100px;
  text-align: center;
  color: rgb(153, 153, 153);
}
