<footer class="site-footer gradient-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="single-footer-area">
                    <div class="footer-title">
                        About Us
                    </div>
                    <div class="footer-content">
                        <p><i><b>Sardar Travels</b></i> is one of the leading tour and travel companies in Chandigarh.
                            With an aim of fulfilling the transportation needs of the customers, we have been providing
                            our clients the best cab booking services<br></p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="single-footer-area">
                    <div class="footer-title">
                        Footer Links
                    </div>
                    <div class="footer-content">
                        <ul class="about-footer">
                            <li><a href="https://www.sardartravels.in/wedding-car">
                                    <fa-icon [icon]="faCaretRight"></fa-icon>

                                    Wedding Car
                                </a></li>
                            <li><a href="https://www.sardartravels.in/wedding-car">
                                    <fa-icon [icon]="faCaretRight"></fa-icon>

                                    Wedding Car
                                </a></li>
                            <li><a href="https://www.sardartravels.in/wedding-car">
                                    <fa-icon [icon]="faCaretRight"></fa-icon>

                                    Wedding Car
                                </a></li>
                            <li><a href="https://www.sardartravels.in/wedding-car">
                                    <fa-icon [icon]="faCaretRight"></fa-icon>

                                    Wedding Car
                                </a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="single-footer-area">
                    <div class="footer-title">
                        Our Cars
                    </div>
                    <div class="footer-content">
                        <ul class="latest-tweet">
                            <li style="margin-left:0;">
                                <a href="https://www.sardartravels.in/cab/toyota-etios">
                                    <fa-icon [icon]="faTaxi"></fa-icon>
                                    <span>Toyota Etios</span>
                                </a>
                            </li>
                            <li style="margin-left:0;">
                                <a href="https://www.sardartravels.in/cab/toyota-etios">
                                    <fa-icon [icon]="faTaxi"></fa-icon>
                                    <span>Toyota Etios</span>
                                </a>
                            </li>
                            <li style="margin-left:0;">
                                <a href="https://www.sardartravels.in/cab/toyota-etios">
                                    <fa-icon [icon]="faTaxi"></fa-icon>
                                    <span>Toyota Etios</span>
                                </a>
                            </li>
                            <li style="margin-left:0;">
                                <a href="https://www.sardartravels.in/cab/toyota-etios">
                                    <fa-icon [icon]="faTaxi"></fa-icon>
                                    <span>Toyota Etios</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="single-footer-area">
                    <div class="footer-title">
                        Contact Us
                    </div>
                    <div class="footer-content">
                        <div class="contact-info">
                            <p class="contact-info">
                                <fa-icon [icon]="faMapMarker"></fa-icon>
                                Mohali, Punjab, India
                            </p>
                            <p class="contact-info">
                                <fa-icon [icon]="faPhone"></fa-icon> Mohali, Punjab, India
                            </p>
                            <p class="contact-info">
                                <fa-icon [icon]="faEnvelope"></fa-icon> Mohali, Punjab, India
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<div class="copyrightText">
    <p style="margin-top: 1rem;">Copyright &copy; 2022 <span style="color: #ff5e62;">Sonu Bhaiya</span> All Right
        Reserved <span style="color: #ff5e62;">Designed and
            Developed</span> by <span> <a href="https://github.com/mr-man7352" target="_blank" style="color: #fa761f;
                ">Manish Sahu</a> </span></p>
</div>