footer {
  color: #6b6c6c;
}
footer a {
  color: #6b6c6c;
}
footer a:hover {
  color: white;
}

.footer-bottom {
  background: #7b7d81;
  padding: 2em;
}
.footer-top {
  background: #2d4958;
}
.footer-middle {
  background: #131925;
  padding: 5em 0 3em 0;
  margin-top: 10em;
  color: white;
}
.footer-pad .socials {
  margin-top: 5em;
}
.footer-pad span {
  margin-right: 15px;
}
.footer-pad i {
  cursor: pointer;
  font-size: 30px;
}
.footer-pad i:hover {
  font-size: 33px;
}

.footer-pad-cities ul li {
  width: 50%;
  float: left;
}

.list-unstyled li {
  padding: 6px 0;
}
.fa-facebook-square {
  color: #3b5699;
}
.fa-twitter {
  color: #29a6e6;
}
.fa-instagram {
  color: #c13d65;
}
.fa-google-plus-official {
  color: #dd4e40;
}

.sub-footer {
  background-color: #333f57;
}

.footer-end p {
  color: #ada4a4;
  font-size: 15px;
}
