<app-navbar></app-navbar>

<!--start of search form-->
<section class="search-section">
    <div class="container">
        <div class="main-page-search">
            <!-- Starting of search  area -->

            <div class="search-box">
                <ul class="nav nav-tabs">
                    <li><a class="active">One Way Trip</a></li>
                    <li class=""><a class="">Round Trip</a></li>
                </ul>

                <div class="tab-content">
                    <div id="oneway" class="tab-pane fade in active show">
                        <form action="">
                            <ul>
                                <li>
                                    <label for="fromCity">From</label>
                                    <select name="fromCity" class="form-control search-slt">
                                        <option value="0">Pickup City</option>
                                        <option value="1">City 1</option>
                                        <option value="2">City 2</option>
                                        <option value="3">City 3</option>
                                        <option value="4">City 4</option>
                                        <option value="5">City 5</option>
                                        <option value="6">City 6</option>
                                        <option value="7">City 7</option>
                                    </select>
                                </li>
                                <li>
                                    <label for="toCity">To</label>
                                    <select name="toCity" class="form-control search-slt">
                                        <option value="0">Pickup City</option>
                                        <option value="1">City 1</option>
                                        <option value="2">City 2</option>
                                        <option value="3">City 3</option>
                                        <option value="4">City 4</option>
                                        <option value="5">City 5</option>
                                        <option value="6">City 6</option>
                                        <option value="7">City 7</option>
                                    </select>
                                </li>
                                <li>
                                    <button class="btn btn-warning wrn-btn form-control search-slt oneWayButton"
                                        type="submit">
                                        Search One way Trip Cars
                                    </button>
                                </li>
                            </ul>
                        </form>
                    </div>
                    <div id="round" class="tab-pane fade"></div>
                </div>
            </div>
            <!-- Ending of search  area -->
        </div>
    </div>
</section>
<!--End of search form-->

<!--Popular One Way Taxi Services -->
<section class="featured-section">
    <div class="container">
        <div class="featured-tours">
            <h3 class="text-center headingH3">Popular One Way Car Services</h3>
            <br />
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="tour-cols">
                        <a href="" class="btn btn btn-outline">
                            <h4>Chandigarh To Shimla</h4>
                            <p></p>
                            <div class="cabs-start-at">Fare Start -</div>
                            <div class="cab-price-start">&#8377; <b>2,200/-</b></div>
                            <span class="btn btn-main"> Book Car </span>
                        </a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="tour-cols">
                        <a href="" class="btn btn btn-outline">
                            <h4>Chandigarh To Shimla</h4>
                            <p></p>
                            <div class="cabs-start-at">Fare Start -</div>
                            <div class="cab-price-start">&#8377; <b>2,200/-</b></div>
                            <span class="btn btn-main"> Book Car </span>
                        </a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="tour-cols">
                        <a href="" class="btn btn btn-outline">
                            <h4>Chandigarh To Shimla</h4>
                            <p></p>
                            <div class="cabs-start-at">Fare Start -</div>
                            <div class="cab-price-start">&#8377; <b>2,200/-</b></div>
                            <span class="btn btn-main"> Book Car </span>
                        </a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="tour-cols">
                        <a href="" class="btn btn btn-outline">
                            <h4>Chandigarh To Shimla</h4>
                            <p></p>
                            <div class="cabs-start-at">Fare Start -</div>
                            <div class="cab-price-start">&#8377; <b>2,200/-</b></div>
                            <span class="btn btn-main"> Book Car </span>
                        </a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="tour-cols">
                        <a href="" class="btn btn btn-outline">
                            <h4>Chandigarh To Shimla</h4>
                            <p></p>
                            <div class="cabs-start-at">Fare Start -</div>
                            <div class="cab-price-start">&#8377; <b>2,200/-</b></div>
                            <span class="btn btn-main"> Book Car </span>
                        </a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="tour-cols">
                        <a href="" class="btn btn btn-outline">
                            <h4>Chandigarh To Shimla</h4>
                            <p></p>
                            <div class="cabs-start-at">Fare Start -</div>
                            <div class="cab-price-start">&#8377; <b>2,200/-</b></div>
                            <span class="btn btn-main"> Book Car </span>
                        </a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="tour-cols">
                        <a href="" class="btn btn btn-outline">
                            <h4>Chandigarh To Shimla</h4>
                            <p></p>
                            <div class="cabs-start-at">Fare Start -</div>
                            <div class="cab-price-start">&#8377; <b>2,200/-</b></div>
                            <span class="btn btn-main"> Book Car </span>
                        </a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="tour-cols">
                        <a href="" class="btn btn btn-outline">
                            <h4>Chandigarh To Shimla</h4>
                            <p></p>
                            <div class="cabs-start-at">Fare Start -</div>
                            <div class="cab-price-start">&#8377; <b>2,200/-</b></div>
                            <span class="btn btn-main"> Book Car </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- End Popular One Way Taxi Services -->

<!--CabList Start -->

<section class="cab-list-section">
    <div class="container-fluid">
        <div class="section-heading text-center">
            <h2 class="h2Heading">Our Luxury Car</h2>
            <p>The definitive collection of chauffeur-driven Cars</p>
        </div>
        <div class="cab-lists">
            <div class="row">
                <div class="col-xl-3 col-lg-4 col-md-6">
                    <div class="cablist-cols">
                        <a href="" class="cablist-link">
                            <div class="cab-image">
                                <img src="https://www.sardartravels.in/uploads/cab/1623810871161192369216-seater-tempo-traveler-CHANDIGARH MANALI.png"
                                    alt="img" />
                            </div>
                            <h4>Tempo Traveller 17+D</h4>
                            <p>
                                <span class="bags">
                                    <fa-icon [icon]="faSuitcaseRolling"></fa-icon>

                                    Bag : 15
                                </span><span class="seaters">
                                    <fa-icon [icon]="faUserTie"></fa-icon> Seaters : 17
                                </span>
                            </p>
                            <div class="cab-price-start">
                                Start at - &#8377; <b>24/- Kilometers</b>
                            </div>
                            <div class="btn btn-main">View Car</div>
                        </a>
                    </div>
                </div>

                <div class="col-xl-3 col-lg-4 col-md-6">
                    <div class="cablist-cols">
                        <a href="" class="cablist-link">
                            <div class="cab-image">
                                <img src="https://www.sardartravels.in/uploads/cab/1623810871161192369216-seater-tempo-traveler-CHANDIGARH MANALI.png"
                                    alt="img" />
                            </div>
                            <h4>Tempo Traveller 17+D</h4>
                            <p>
                                <span class="bags">
                                    <fa-icon [icon]="faSuitcaseRolling"></fa-icon>

                                    Bag : 15
                                </span><span class="seaters">
                                    <fa-icon [icon]="faUserTie"></fa-icon> Seaters : 17
                                </span>
                            </p>
                            <div class="cab-price-start">
                                Start at - &#8377; <b>24/- Kilometers</b>
                            </div>
                            <div class="btn btn-main">View Car</div>
                        </a>
                    </div>
                </div>

                <div class="col-xl-3 col-lg-4 col-md-6">
                    <div class="cablist-cols">
                        <a href="" class="cablist-link">
                            <div class="cab-image">
                                <img src="https://www.sardartravels.in/uploads/cab/1623810871161192369216-seater-tempo-traveler-CHANDIGARH MANALI.png"
                                    alt="img" />
                            </div>
                            <h4>Tempo Traveller 17+D</h4>
                            <p>
                                <span class="bags">
                                    <fa-icon [icon]="faSuitcaseRolling"></fa-icon>

                                    Bag : 15
                                </span><span class="seaters">
                                    <fa-icon [icon]="faUserTie"></fa-icon> Seaters : 17
                                </span>
                            </p>
                            <div class="cab-price-start">
                                Start at - &#8377; <b>24/- Kilometers</b>
                            </div>
                            <div class="btn btn-main">View Car</div>
                        </a>
                    </div>
                </div>

                <div class="col-xl-3 col-lg-4 col-md-6">
                    <div class="cablist-cols">
                        <a href="" class="cablist-link">
                            <div class="cab-image">
                                <img src="https://www.sardartravels.in/uploads/cab/1623810871161192369216-seater-tempo-traveler-CHANDIGARH MANALI.png"
                                    alt="img" />
                            </div>
                            <h4>Tempo Traveller 17+D</h4>
                            <p>
                                <span class="bags">
                                    <fa-icon [icon]="faSuitcaseRolling"></fa-icon>

                                    Bag : 15
                                </span><span class="seaters">
                                    <fa-icon [icon]="faUserTie"></fa-icon> Seaters : 17
                                </span>
                            </p>
                            <div class="cab-price-start">
                                Start at - &#8377; <b>24/- Kilometers</b>
                            </div>
                            <div class="btn btn-main">View Car</div>
                        </a>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6">
                    <div class="cablist-cols">
                        <a href="" class="cablist-link">
                            <div class="cab-image">
                                <img src="https://www.sardartravels.in/uploads/cab/1623810871161192369216-seater-tempo-traveler-CHANDIGARH MANALI.png"
                                    alt="img" />
                            </div>
                            <h4>Tempo Traveller 17+D</h4>
                            <p>
                                <span class="bags">
                                    <fa-icon [icon]="faSuitcaseRolling"></fa-icon>

                                    Bag : 15
                                </span><span class="seaters">
                                    <fa-icon [icon]="faUserTie"></fa-icon> Seaters : 17
                                </span>
                            </p>
                            <div class="cab-price-start">
                                Start at - &#8377; <b>24/- Kilometers</b>
                            </div>
                            <div class="btn btn-main">View Car</div>
                        </a>
                    </div>
                </div>

                <div class="col-xl-3 col-lg-4 col-md-6">
                    <div class="cablist-cols">
                        <a href="" class="cablist-link">
                            <div class="cab-image">
                                <img src="https://www.sardartravels.in/uploads/cab/1623810871161192369216-seater-tempo-traveler-CHANDIGARH MANALI.png"
                                    alt="img" />
                            </div>
                            <h4>Tempo Traveller 17+D</h4>
                            <p>
                                <span class="bags">
                                    <fa-icon [icon]="faSuitcaseRolling"></fa-icon>

                                    Bag : 15
                                </span><span class="seaters">
                                    <fa-icon [icon]="faUserTie"></fa-icon> Seaters : 17
                                </span>
                            </p>
                            <div class="cab-price-start">
                                Start at - &#8377; <b>24/- Kilometers</b>
                            </div>
                            <div class="btn btn-main">View Car</div>
                        </a>
                    </div>
                </div>

                <div class="col-xl-3 col-lg-4 col-md-6">
                    <div class="cablist-cols">
                        <a href="" class="cablist-link">
                            <div class="cab-image">
                                <img src="https://www.sardartravels.in/uploads/cab/1623810871161192369216-seater-tempo-traveler-CHANDIGARH MANALI.png"
                                    alt="img" />
                            </div>
                            <h4>Tempo Traveller 17+D</h4>
                            <p>
                                <span class="bags">
                                    <fa-icon [icon]="faSuitcaseRolling"></fa-icon>

                                    Bag : 15
                                </span><span class="seaters">
                                    <fa-icon [icon]="faUserTie"></fa-icon> Seaters : 17
                                </span>
                            </p>
                            <div class="cab-price-start">
                                Start at - &#8377; <b>24/- Kilometers</b>
                            </div>
                            <div class="btn btn-main">View Car</div>
                        </a>
                    </div>
                </div>

                <div class="col-xl-3 col-lg-4 col-md-6">
                    <div class="cablist-cols">
                        <a href="" class="cablist-link">
                            <div class="cab-image">
                                <img src="https://www.sardartravels.in/uploads/cab/1623810871161192369216-seater-tempo-traveler-CHANDIGARH MANALI.png"
                                    alt="img" />
                            </div>
                            <h4>Tempo Traveller 17+D</h4>
                            <p>
                                <span class="bags">
                                    <fa-icon [icon]="faSuitcaseRolling"></fa-icon>

                                    Bag : 15
                                </span><span class="seaters">
                                    <fa-icon [icon]="faUserTie"></fa-icon> Seaters : 17
                                </span>
                            </p>
                            <div class="cab-price-start">
                                Start at - &#8377; <b>24/- Kilometers</b>
                            </div>
                            <div class="btn btn-main">View Car</div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--CabList end -->

<!-- start welcome to travel -->
<section style="    padding-top: 100px;
padding-bottom: 100px;" class="section why-section">
    <div class="container">
        <div class="section-heading text-center">
            <h2 class="h2Heading"> Welcome to Sardar Travels</h2>
            <p>Sardar Travels is one of the leading tour and travel companies in Chandigarh. With an aim of fulfilling
                the transportation needs of the customers, we have been providing our clients with the best cab booking
                Services.</p>

        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="why-box">
                    <div class="why-box-icon">
                        <img src="https://www.sardartravels.in/uploads/service/1623747017memorable.png"
                            alt="Service Image">
                    </div>
                    <div class="why-box-text">
                        <h3>Memorable Trips.</h3>
                        <p>All our trips are well monitored for safety and convenience, keeping your comfort as our
                            top priority.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="why-box">
                    <div class="why-box-icon">
                        <img src="https://www.sardartravels.in/uploads/service/1623747017memorable.png"
                            alt="Service Image">
                    </div>
                    <div class="why-box-text">
                        <h3>Memorable Trips.</h3>
                        <p>All our trips are well monitored for safety and convenience, keeping your comfort as our
                            top priority.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="why-box">
                    <div class="why-box-icon">
                        <img src="https://www.sardartravels.in/uploads/service/1623747017memorable.png"
                            alt="Service Image">
                    </div>
                    <div class="why-box-text">
                        <h3>Memorable Trips.</h3>
                        <p>All our trips are well monitored for safety and convenience, keeping your comfort as our
                            top priority.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="why-box">
                    <div class="why-box-icon">
                        <img src="https://www.sardartravels.in/uploads/service/1623747017memorable.png"
                            alt="Service Image">
                    </div>
                    <div class="why-box-text">
                        <h3>Memorable Trips.</h3>
                        <p>All our trips are well monitored for safety and convenience, keeping your comfort as our
                            top priority.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- start welcome to travel -->

<!-- <section style="    padding-top: 100px;
padding-bottom: 100px;" class="section testimonial-section">
    <div class="container">
        <div class="section-heading text-center">
            <h2 class="h2Heading">Customer Reviews</h2>
            <p>What People say about us after a ride . a little Description about review of Customers.</p>
        </div>

        ngb carosel
    </div>
</section> -->



<app-footer></app-footer>