section {
  display: block;
  background: #edf3fd;
}

.search-box {
  padding: 30px;
  color: #fff;
  position: relative;
  border-radius: 5px 5px 0 0;
}

.search-box .nav-tabs {
  background: #fff;
  padding: 10px;
  border: none;
  border-radius: 40px;
  max-width: 350px;
  margin: auto;
}

.search-box .tab-content {
  background: #fff;
  padding: 20px 10px;
  margin-top: 20px;
  border-radius: 5px;
  position: relative;
  box-shadow: rgb(129 129 129 / 10%) 0px 6px 10px 0px;
}

.search-box .nav-tabs li {
  width: 50%;
  float: left;
  text-align: center;
  list-style: none;
}

.search-box .nav-tabs li a {
  display: block;
  padding: 5px;
  border-radius: 40px;
  color: #000000;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
}

.search-box .nav-tabs li a.active {
  background: #38bca6;
  box-shadow: 0px 2px 4px 0px #0000001c;
  color: #ffffff;
}

.search-box .tab-content ul {
  margin: 0;
  display: flex;
}

.search-box .tab-content ul li {
  list-style: none;
  width: 33.33%;
  padding: 0 5px;
}

.search-box .tab-content ul li label {
  color: #777777;
  margin: 0;
  display: none;
}

.search-box .tab-content ul li .form-control {
  height: 50px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.oneWayButton {
  background: linear-gradient(to right, #fed700, #38bca6);
  color: white;
  font-weight: bold;
  box-shadow: 0px 2px 4px 0px #0000001c;
  border: unset;
}

.btn {
  padding: 5px 15px;
  border: 0px;
  box-shadow: 0px 2px 4px 0px #0000001c;
  // background-color: #5733b2;
  // background: -webkit-linear-gradient(to right, #4600ac, #01014b);
  // background: linear-gradient(to right, #4600ac, #01014b);
  color: #fff;
  outline: none;
  font-weight: bold;
}

.featured-tours {
  width: 100%;
  // float: left;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-right: 35px;
}

.headingH3 {
  margin: 0 0 15px;
  font-weight: 700;
  font-size: 1.75rem;
}

.tour-cols {
  margin-bottom: 20px;
  border-radius: 15px;
}

.btn.btn-outline {
  background: #fff;
  color: #01014b;
  border: none;
}

.tour-cols a {
  display: block;
  padding: 30px;
  // color: #fff;
  text-align: left;
  position: relative;
  font-weight: normal;
  font-size: 14px;
}

.tour-cols h4 {
  font-size: 22px;
  margin-bottom: 5px;
  font-weight: normal;
  line-height: 1.2;
}

.tour-cols .cab-price-start b {
  font-size: 20px;
}

.tour-cols a .btn {
  position: absolute;
  right: 15px;
  bottom: 15px;
  font-size: 14px;
  padding: 5px 10px;
}

.tour-cols .btn.btn-main {
  background: #fff;
  border: 1px solid #41bd9f;
  color: #fed700;
}

.tour-cols .btn.btn.btn-outline:hover {
  background: #38bca6;
  color: white;
}

.section-heading {
  max-width: 800px;
  margin: auto;
  margin-bottom: 70px;
}

.h2Heading {
  margin: 0 0 15px;
  font-weight: 700;
  font-size: 2rem;
}

.cablist-cols {
  margin-bottom: 30px;
  padding: 15px;
  background: #e0e0e04f;
  border-radius: 5px;
}
.cablist-cols a {
  display: block;
  border-radius: 0;
  color: #000;
  text-decoration: none;
}
.cablist-cols .cab-image {
  text-align: center;
  margin-bottom: 15px;
}
.cablist-cols img {
  max-height: 125px;
  display: inline;
}
.cablist-cols h4 {
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: bold;
}
.cablist-cols p {
  margin-bottom: 5px;
}

.cablist-cols p span {
  padding: 10px;
}
.cablist-cols .cab-price-start {
  padding-bottom: 10px;
  font-size: 18px;
  /* display: none; */
}
.cablist-cols a .btn {
  background: none;
  border-color: #fed700;
  color: #fda725;
  font-size: 14px;
  display: block;
  margin: 0 auto;
  text-align: center;
  border: 1px solid #38bca6;
  width: 50%;
  margin-top: 15px;
}

.why-section {
  background-color: #fff;
  background-position: bottom center;
  background-size: 100% auto;
  background-repeat: no-repeat;
  position: relative;
}

.why-section .container {
  position: relative;
  max-width: 1000px;
}

.section-heading {
  max-width: 800px;
  margin: auto;
  margin-bottom: 70px;
}

.why-box {
  display: flex;
  margin-bottom: 50px;
}

.why-box .why-box-icon {
  height: 60px;
  width: 80px;
  margin-right: 20px;
}

.why-box .why-box-icon img {
  max-width: 100%;
  height: auto;
}

.why-box .why-box-text {
  display: flex;
  width: 100%;
  align-self: center;
  flex-flow: column;
}

.why-box .why-box-text h3 {
  font-size: 18px;
  color: #fed700;
  margin: 0 0 15px;
  font-weight: 700;
}
